.categories {
  display: grid;
  grid-template-columns: repeat(2, minmax(18rem, 24rem));
  gap: 2rem 2.5rem;

  @media only screen and (max-width: $bp-grand) {
    grid-template-columns: repeat(2, minmax(15rem, 20rem));
    gap: 1.5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(1, minmax(12rem, 16.5rem));
  }

  @media only screen and (max-width: $bp-small) {
    overflow-x: auto;
    overflow-y: hidden;

    grid-template-columns: repeat(6, minmax(12rem, 13rem));
  }

  @media only screen and (max-width: $bp-tiny) {
  }
}
