.right-side {
    grid-column: 6 / 12;

    @media only screen and (max-width: $bp-grand) {
        grid-column: 5 / 11;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column: 3 / 9;
    }

    @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
    }
}
