.posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media only screen and (max-width: $bp-grand) {
  }

  @media only screen and (max-width: $bp-medium) {
  }

  @media only screen and (max-width: $bp-small) {
  }
}
