.button-return {
    background-color: transparent;
    width: min-content;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.15s;

    &:hover {
        text-decoration: underline;
        color: $primary-text-color;
    }
}
