.navbar {
  height: 7.5rem;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
}

.logo {
  grid-column: 2 / 4;

  font-family: $font-family-title;
  font-size: 4rem;
  font-weight: 600;

  @media only screen and (max-width: $bp-grand) {
    grid-column: 1 / 3;
  }

  @media only screen and (max-width: $bp-tiny) {
    grid-column: 1 / 2;
  }

  &__left {
    color: $black-color;
  }

  &__right {
    color: $white-color;
  }
}
